.App {
    text-align: center;
  }
  
  .header{
    width: 100vw;
    height: 100vh;
    background: url(https://images.pexels.com/photos/1785493/pexels-photo-1785493.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
    background-size: cover;  
    color: white;
  }

  .container{ 
    color: white;
    position: absolute;
    top: 25%;
    left: 40%; 
    /* border-bottom: 5px solid purple; */
    margin-bottom: 15px;
    padding: 13px 0;
}

  .box{
    width: 100%; 
    margin: 22px 0px;
    border-bottom: 2px solid purple;
}

.box input{  
  background: none;
  width: 75%;
  padding: 5px 10px;
  font-size: 20px;
  border: none;
  outline:none;
  color: white;
}

 .btn{ 
  color: black;
  cursor: pointer;
  outline: none; 
  margin: 12px 0;
  padding: 10px 21px;
  border: 2px solid purple;
  border-radius: 10px;
  font-size: 18px;
  background: #729e76;
  font-weight: bold; 
}
  


.btn:hover{
  opacity: 0.5;
  color: purple; 
  background: white; 
  
}
  
  input{
    height: 90%;
    width: 30%;
  }

 .logout{
    position:relative;
    left: 85%;
    margin-top:45%;
  }